.SideBar{
    width: 250px;
    height: 100vh;
    background-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    transition: width 0.3s ease;
}



/* --------------------Top Cont------------------- */



.TopCont{
    height: 41.5%;
    display: flex;
    flex-direction: column;
}

.WelcomeUserCont{
    height: 50%;
    text-align: center;
}

p{
    font-size: 36px;
    font-weight: bold;
    color: #035A3B;
    display: inline-block;
    word-spacing: 100vw;
    text-align: center;
    left: -30px;
    position: relative;
    line-height: 30px;
}
h4{
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
}
h5{
    font-size: 42px;
    color: #035A3B;
    margin-top: -50px;
}
h6 {
    font-size: 18px;
    position: absolute;
    top: -45%;
    transform: translateY(-50%);
    left: 45px;
    text-align: center;
    width: 100px;
  }

.TasksAndCalendarCont{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



/* ---------------------Pogas---------------------- */



.TasksButton{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
    border: 3px solid #035A3B;
    font-size: 18px;
    background-color: black;
    position: relative;
}
.CalendarButton{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
    border: 3px solid #035A3B;
    font-size: 18px;
    background-color: black;
    position: relative;
}
.AccountButton{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
    border: 3px solid #035A3B;
    font-size: 18px;
    background-color: black;
    position: relative;
}
.SettingsButton{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
    border: 3px solid #035A3B;
    font-size: 18px;
    background-color: black;
    position: relative;
}
.LogoutButton{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #035A3B;
    background-color: black;
    font-size: 28px;
    font: bold;
    color: #D9D9D9;
    position: relative;
    bottom: -35px;
}

  .Circle {
    width: 48px;
    height: 46px;
    background-color: #D9D9D9;
    opacity: 75%;
    border-radius: 50px;
    position: absolute;
    transition: width 0.3s ease, opacity 0.3s ease;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .SlideRight {
    width: 146px;
    opacity: 1;
  }
  
  .SlideLeft {
    width: 50px;
  }



/* -------------------------Mid Cont-------------------------- */



.MidCont{
    height: 17%;
    display: flex;
    align-items: center;
}

.CircleWithPlusCont {
    width: 250px;
    height: 150px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
  }
  
  .MidContCircle {
    width: 150px;
    height: 150px;
    background-color: #035A3B;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -75px;
    cursor: pointer;
  }
  
  .VerticalLine {
    width: 6px;
    height: 75px;
    background-color: #D9D9D9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

.HorizontalLine {
    width: 75px;
    height: 6px;
    background-color: #D9D9D9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }



/* -------------------------Bot Cont-------------------------- */



.BotCont{
    height: 41.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.SideBar.collapsed {
    width: 0px;
  }

.BotCont.collapsed{
    display: none;
}
h5.collapsed{
    display: none;
}

.CollapseArrow{
    position: absolute;
    width: 30px;
    height: 30px;
}